<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Present Meet</title>
    <link type="text/css" rel="stylesheet" href="/css/join_class.css" />
    <script type="module" src="/javascript/join_class/controller.js"></script>
  </head>
  <body>
    <div id="navbar"></div>
    <div class="card invitation_link">
      <div class="content">
        <% if(isExist) { %>
        <div class="text">
          <h2>Hello <%= user %></h2>
          <h3><%= text %></h3>
        </div>
        <button class="button" onclick="location.href='/'">Home</button>
        <% } %>
        <!--  -->
        <% if(type === 'teacher') { %>
        <div class="text" data-value="<%= type %>">
          <h2>Hello <%= user %></h2>
          <h3><%= text %></h3>
        </div>
        <button class="button" onclick="location.href='/'">Home</button>
        <% } %>
        <!--  -->
        <% if(type === 'student' && !isExist) { %>
        <div class="current_user">
          <h3>Hello student <%= user %></h3>
        </div>
        <div class="content_message">
          <h2 id="msg">You are invited in a Class List</h2>
        </div>
        <div class="class_information">
          <h5>Class instructor : <%= instructor %></h5>
          <h5>Subject : <%= subject %></h5>
          <h5>Section : <%= section %></h5>
          <h5>Year Level : <%= year_level %></h5>
        </div>
        <button class="button" id="join">Join Class</button>
        <% } %>
      </div>
    </div>
  </body>
</html>
